@import './variables.scss';
body, html {
   overflow-x: hidden; 
}

input, button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

.button-action {
    background-color: $clr-orange;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color $transition-regular;
    color: $clr-100-forced;
    padding-top: 0.625rem;
    padding-bottom: 0.75rem;

    &:hover {
        background-color: $clr-orange-hover;
    }
}

.no-scroll {
    overflow: hidden;
}
