@import "../../styles/variables.scss";

.header {
    background-color: $clr-800;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    &__logo {
        display: none;

        @media (min-width: $desktop) {
            display: flex;
            align-items: center;
        }
    }

    &__file {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        padding-right: 0.5rem;

        @media (min-width: $tablet) {
            padding-right: 1rem;
        }

        @media (min-width: $desktop) {
            padding-left: 1.5rem;
            border-left: 1px solid $clr-600;
        }

        &-buttons {
            display: flex;
            align-items: center;
            gap: 1.5rem;
        }

        &-button {
            flex-shrink: 0;
        }

        &-button_save {
            width: 40px;
            aspect-ratio: 1 / 1;

            @media (min-width: $tablet) {
                width: auto;
                aspect-ratio: auto;
                gap: 0.5rem;
                padding-inline: 1rem;
            }

            p {
                display: none;

                @media (min-width: $tablet) {
                    display: block;
                }
            }
        }
    }
}
