@import '../../styles/variables.scss';

.sidebar {
    width: 250px;
    height: 100%;
    min-height: 100vh;
    background-color: $clr-900;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__logo {
        align-self: flex-start;

        @media (min-width: $desktop) {
            display: none;
        }
    }

    &__theme-toggle {
        margin-top: auto;
    }
}